@font-face {
  font-family: Oswald;
  src: url("Oswald.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Oswald;
  width: 900px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background: #fff;
  padding: 20px;
}
img {
  width: 80px;
}
.item {
  display: flex;
  gap: 40px;
  padding: 30px;
  border: 1px gray solid;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.text h1 {
  margin-bottom: 5px;
}
.item:hover {
  background: red;
  color: white;
}
