body{
    background: rgb(253, 194, 204);

}
*{
    font-size: 16px;
    font-family: Verdana;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
p, div{
    font-size: 16px;
}
ul{
    background: rgb(142, 227, 241);
}
main{
    width: 70%;
}
