.grid{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 2fr) ;
    grid-template-rows: repeat(3, 200px);

}

.item1{
    grid-row: span 3;
    background: url(img/Frame\ 2.png);
    background-size: cover;

    
}
.item2{
    background: url(img/image\ 2.png);
    background-size: cover;
}
.item3{
    background: url(img/image\ 3.png);
    background-size: cover;
}
.item4{
    grid-column: span 2;
    align-items: center;
   
}
.item5{
    background: url(img/image\ 4.png);
    background-size: cover;
    
}
.item6{
    background: url(img/image\ 5.png);
    background-size: cover;
}